<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/visual.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>

<div class="flashes">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="container-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('reroute') }}">
                    <img src="static/logo.png" alt="logo" width="140" height="auto">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="{{ url_for('reroute') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
</body>
</html>