<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        {% block body %}
        <h1>Available Tickets</h1>
            <div class="box-list">
                {% for x in tickets %}
                <div>
                    <a href="{{ url_for('viewtickets', id=x.id, users=users) }}">Ticket {{ x.id }}</a>
                </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
</body>
</html>